@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&subset=latin-ext');

.vodkadsi-div-settings {
	font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 18px;
  padding: 5px 5px 5px 5px;
}

.vodkadsi-icon:hover{
  opacity: 0.6;
}

.vodkadsi-icon-settings {
  width: 20px;
  height: 20px;
  margin: 0px 5px -4px 0px;
}

.vodkadsi-switch-set {
  float: right;
  margin-right: 5px;
}

/* The switch - the box around the slider */
.vodkadsi-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-right: -5px;
}

/* Hide default HTML checkbox */
.vodkadsi-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.vodkadsi-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.vodkadsi-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .vodkadsi-slider {
  background-color: #2CA58D;
}

input:focus + .vodkadsi-slider {
  box-shadow: 0 0 1px #2CA58D;
}

input:checked + .vodkadsi-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.vodkadsi-slider.vodkadsi-round {
  border-radius: 17px;
}

.vodkadsi-slider.vodkadsi-round:before {
  border-radius: 50%;
}

.vodkadsi-options {
  width: 320px;
  height: 225px;
  font-size: 15px;
  padding: 5px;
}

.vodkadsi-green {
  background-color: #eaf6ff;
  color: #2E2D4D;
}

.vodkadsi-fa {
  margin: -5px 0px 0px 0px;
  float: right;
}

.vodkadsi-fa:hover {
  opacity: 0.7;
}

.vodkadsi-fb {
  margin-right: 0px;
}

.vodkadsi-home {
  margin-right: 5px;
}

.vodkadsi_show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Popup container - can be anything you want */
.vodkadsi_popup {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2147483647;
}

/* The actual popup */
.vodkadsi_popup .vodkadsi_popuptext {
  visibility: hidden;
  width: 200px;
  background-color: #eaf6ff;
  color: #2E2D4D;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left:110%;
  border-style: solid;
  border-color: #2CA58D;
  text-align: right;
  padding: 10px 10px 10px 10px;
}

/* Popup arrow */

.vodkadsi_popup .vodkadsi_popuptext::after {
  content: "";
  position: absolute;
  margin-top: 4px;
  margin-left: -20px;
  top: 0%;
  right: 100%;
  margin-left: -9px;
  border-width: 9px;
  border-style: solid;
  border-color: transparent #2CA58D transparent transparent;
}

/* Toggle this class - hide and show the popup */
.vodkadsi_popup .vodkadsi_show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

span.vodkadsi_popuptext div {
  text-align: left;
}